<button class="btn btn-primary" [routerLink]="'/'">Home</button>
<form [formGroup]="habitEntryForm" (ngSubmit)="submit()">
  <label>
    Title
    <input type="text" formControlName="title">
  </label>
  <label>
    Description
    <input type="text" formControlName="description">
  </label>
  <label>
    Frequency
    <!-- <select formControlName="frequencyType">
      <option *ngFor="let type of frequencyTypes">{{type}}</option>
    </select> -->
    <input type="number" formControlName="frequencyType">
  </label>
  <label>
    Start Date
    <input type="date" formControlName="startDate">
  </label>
  <button class="btn btn-primary" type="submit">Create</button>
</form>