<!-- <button class="btn btn-primary" [routerLink]="'/'">Home</button> -->
<div></div>
<form [formGroup]="habitEntryForm" (ngSubmit)="submit()">
  <label>
    Title
    <input type="text" formControlName="title">
  </label>
  <label>
    Description
    <input type="text" formControlName="description">
  </label>
  <label>
    Frequency
    <input type="number" formControlName="frequency">
  </label>
  <label>
    Start Date
    <input type="date" formControlName="startDate">
  </label>
  <button type="submit" class="clickable" [ngClass]="{'loading': loading$ | async}" [disabled]="!habitEntryForm.valid">
    <span *ngIf="loading$ | async; else create">Creating...</span>
    <ng-template #create><span>Create</span></ng-template>
  </button>
</form>