<h1>{{date | date:'MMMM y'}}</h1>
<span class="fa fa-plus clickable" [routerLink]="'/habitEntry'"></span>

<table>
  <thead>
    <tr>
      <th></th>
      <th *ngFor="let habit of habits"><span style="writing-mode: vertical-lr">{{habit.name}}</span></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let day of days" [ngClass]="{'uneditable': day > today}">
      <td>{{day}}</td>
      <td *ngFor="let habit of habits" (click)="toggleDay(habit, day)">
        <span *ngIf="habit.completions[day]">
          <i class="fa fa-check"></i>
        </span>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>