<div class="header">
  <i class="fas fa-tasks"></i>
  <h2>Sign in to Bullet</h2>
</div>

<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <label>
    Email
    <input type="email" formControlName="email">
  </label>
  <label>
    Password
    <input type="password" formControlName="password">
  </label>
  <button type="submit" [ngClass]="{'loading': loading$ | async}">
    <span *ngIf="loading$ | async; else signIn">Signing In...</span>
    <ng-template #signIn><span>Sign In</span></ng-template>
  </button>
</form>

<div class="error" *ngIf="(error$ | async) as error">
  <span>{{error}}</span>
  <span class="far fa-times-circle pull-right clickable" (click)="clearError()"></span>
</div>