<!-- <button class="btn btn-primary" [routerLink]="'/'">Home</button> -->
<div class="header">
  <!-- <i class="fas fa-tasks"></i> -->
  <h2>Create a Habit <img src="../../../assets/icons/new.svg" height="32px"></h2>
</div>
<form [formGroup]="habitEntryForm" (ngSubmit)="submit()">
  <label>
    Title
    <input type="text" formControlName="title">
  </label>
  <label>
    Frequency
    <div class="radios">
      <input type="radio" id="r1" value="1" formControlName="frequency" checked>
      <label for="r1">Daily</label>
      <input type="radio" id="r2" value="2" formControlName="frequency">
      <label for="r2">Bi-Daily</label>
      <input type="radio" id="r3" value="3" formControlName="frequency">
      <label for="r3">Weekly</label>
      <input type="radio" id="r4" value="4" formControlName="frequency">
      <label for="r4">Monthly</label>
    </div>
  </label>
  <label>
    Start Date
    <div>
      <input style="width: 150px" type="date" formControlName="startDate" [placeholder]="date | date: 'shortDate'">
      <!-- <input type="text" ngbDatepicker formControlName="startDate"> -->
    </div>
  </label>
  <button type="submit" class="submit clickable" [ngClass]="{'loading': loading$ | async}"
    [disabled]="!habitEntryForm.valid">
    <span *ngIf="loading$ | async; else create">Creating...</span>
    <ng-template #create><span>Create Habit</span></ng-template>
  </button>
</form>