h1 {
    font-size: 100px;
    font-weight: lighter;
}

.img-container {
    border-bottom-left-radius: 25px;

    img {
        height: 580px;
        border-bottom-left-radius: 55px;
        position: absolute;
        right: 0;
        top: 0;
    }


}