<!-- might need to use a resolver here, when the page loads, it doesnt know about isLogged in yet, so it shows #login, but then
almost instantly get isLoggedIn; it creates a flicker effect though and its ugly -->
<!-- <ng-container *ngIf="isLoggedIn$ | async; else login">
  <a [routerLink]="['/journal']">Get Started</a>
</ng-container>

<ng-template #login>
  <a [routerLink]="['/login']">Login</a>
  <a [routerLink]="['/createAccount']">CreateAccount</a>
</ng-template> -->

<div class="content">
  <h1>Bullet</h1>
  <p class="blurb">Track the Past <br> Order the Present <br> Design the Future</p>
  <button [routerLink]="['/createAccount']">Create Account</button>
  <button [routerLink]="['/login']">Sign In</button>
</div>

<div class="img-container">
  <img src="../../../assets/img/notebook-2.jpg" alt="notebook">
  <!-- <div class="layer"></div> -->
</div>