<div class="header">
  <h1>My Habits</h1>
  <a class="clickable" [routerLink]="'/habitEntry'"><img src="../../../assets/icons/plus.svg" alt="Add"
      height="32px"></a>
</div>

<ng-template #loading>
  <div class="mar-top-md mar-bot-sm">
    <app-loading-animation></app-loading-animation>
  </div>
</ng-template>

<ng-template #noHabits *ngIf="!(loading$ | async); else loading">
  <h3>You haven't created any habits yet!</h3>
  <button [routerLink]="'/habitEntry'">Get Started!</button>
  <!-- this should redirect to a detail page about the habit (info about habit and completions list) -->
</ng-template>

<div *ngIf="habits$ | async as habits; else noHabits">
  <app-habit-card *ngFor="let habit of habits" [habit]="habit" [routerLink]="['/habitEntry', habit._id]">
  </app-habit-card>
</div>