.header {
    padding: 20px 0 10px 5px;
    font-weight: lighter;
    display: flex;
    line-height: 1;
    justify-content: space-between;
    align-items: center;

    h1 {
        line-height: 1;
        font-weight: lighter;
    }
}