<div class="header">
  <h1>My Habits</h1>
  <span class="fas fa-edit fa-2x clickable" [routerLink]="'/habitEntry'"></span>
</div>

<div *ngIf="habits$ | async as habits; else noHabits">
  <app-habit-card *ngFor="let habit of habits" [habit]="habit" [routerLink]="['/habitEntry', habit._id]">
  </app-habit-card>
</div>

<ng-template #noHabits *ngIf="!(loading$ | async); else loading">
  <h3>You haven't created any habits yet!</h3>
  <button [routerLink]="'/habitEntry'">Get Started!</button>
</ng-template>

<ng-template #loading>
  <div class="mar-top-md">
    <app-loading-animation></app-loading-animation>
  </div>
</ng-template>